NodeRed.js
[{"id":"7224d62.6a1e528","type":"json","z":"7b037b12.b023c4","name":"","property":"payload","action":"","pretty":false,"x":250,"y":120,"wires":[["6d5f41b1.93599"]]},{"id":"fc626a73.e6f9d8","type":"mqtt in","z":"7b037b12.b023c4","name":"","topic":"nodo2","qos":"2","broker":"ca9bd359.25847","x":70,"y":80,"wires":[["48495b63.7b2c74","7224d62.6a1e528"]]},{"id":"48495b63.7b2c74","type":"ui_text","z":"7b037b12.b023c4","group":"2fc4c509.0cf6ea","order":0,"width":"0","height":"0","name":"","label":"JSON","format":"{{msg.payload}}","layout":"row-spread","x":250,"y":80,"wires":[]},{"id":"6d5f41b1.93599","type":"function","z":"7b037b12.b023c4","name":"Parse JSON","func":"//var COV={payload:msg.payload.sensor};\nvar COV={payload:msg.payload.COV};\nreturn COV;","outputs":1,"noerr":0,"x":440,"y":120,"wires":[["1acb2eb9.0b5949","1778fb79.8b7125","45104c8.83160b4","a719554f.48d578","6330db77.be205c","96fe5c9d.f5bc88"]]},{"id":"1acb2eb9.0b5949","type":"ui_gauge","z":"7b037b12.b023c4","name":"","group":"35b31567.eec212","order":1,"width":"4","height":"4","gtype":"gage","title":"CO2","label":"ppm","format":"{{msg.payload.CO2}}","min":0,"max":"5000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":610,"y":260,"wires":[]},{"id":"f6654bc5.6bbd58","type":"ui_chart","z":"7b037b12.b023c4","name":"","group":"35b31567.eec212","order":2,"width":0,"height":0,"label":"CO2","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"5000","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":810,"y":60,"wires":[[],[]]},{"id":"1778fb79.8b7125","type":"function","z":"7b037b12.b023c4","name":"Parse Data CO2","func":"var CO2={payload:msg.payload.CO2};\nreturn CO2;","outputs":1,"noerr":0,"x":640,"y":60,"wires":[["f6654bc5.6bbd58"]]},{"id":"45104c8.83160b4","type":"function","z":"7b037b12.b023c4","name":"Parse Data TVOC","func":"var TVOC={payload:msg.payload.TVOC};\nreturn TVOC;","outputs":1,"noerr":0,"x":650,"y":100,"wires":[["5bd7092.a794af8"]]},{"id":"5bd7092.a794af8","type":"ui_chart","z":"7b037b12.b023c4","name":"","group":"1803af51.346551","order":0,"width":0,"height":0,"label":"TVOC","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":810,"y":100,"wires":[[],[]]},{"id":"a719554f.48d578","type":"ui_gauge","z":"7b037b12.b023c4","name":"","group":"1803af51.346551","order":0,"width":"4","height":"4","gtype":"gage","title":"TVOC","label":"units","format":"{{msg.payload.TVOC}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":610,"y":140,"wires":[]},{"id":"6330db77.be205c","type":"ui_gauge","z":"7b037b12.b023c4","name":"","group":"155cc0ce.55e667","order":0,"width":0,"height":0,"gtype":"gage","title":"TEMPERATURE","label":"ºC","format":"{{msg.payload.HDC_temp}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":640,"y":180,"wires":[]},{"id":"96fe5c9d.f5bc88","type":"ui_gauge","z":"7b037b12.b023c4","name":"","group":"38d3ad9e.f0f0aa","order":0,"width":0,"height":0,"gtype":"gage","title":"HUMIDITY","label":"% HR","format":"{{msg.payload.HDC_hum}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":630,"y":220,"wires":[]},{"id":"ca9bd359.25847","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"2fc4c509.0cf6ea","type":"ui_group","z":"","name":"JSON","tab":"e1f78192.87262","order":1,"disp":true,"width":"25","collapse":false},{"id":"35b31567.eec212","type":"ui_group","z":"","name":"CO2","tab":"e1f78192.87262","order":4,"disp":true,"width":"12","collapse":false},{"id":"1803af51.346551","type":"ui_group","z":"","name":"TVOC's","tab":"e1f78192.87262","order":5,"disp":true,"width":"6","collapse":false},{"id":"155cc0ce.55e667","type":"ui_group","z":"","name":"TEMPERATURE","tab":"e1f78192.87262","order":3,"disp":true,"width":"6","collapse":false},{"id":"38d3ad9e.f0f0aa","type":"ui_group","z":"","name":"HUMIDITY","tab":"e1f78192.87262","order":3,"disp":true,"width":"6","collapse":false},{"id":"e1f78192.87262","type":"ui_tab","z":"","name":"VALORES","icon":"dashboard","order":1}]
